In [51]:
import numpy as np
import pandas as pd
import os

In [52]:
Education = pd.read_csv('../1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Education.csv')
Energy = pd.read_csv('../1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Energy.csv')           
Food = pd.read_csv('../1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Food.csv')            
Household = pd.read_csv('../1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Household.csv') 
Member = pd.read_csv('../1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Member.csv')
Nonfood = pd.read_csv('../1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Nonfood.csv')

In [53]:
#Food Rename
Food= Food.rename(columns={"s12q1":"hh_purchasedfood7d", "s12q2":"amountfood_purchased7d", 
                     "s12q4":"foodspent_localcurrecny", "s12q6": "foodconsumed7d","s12q7": "foodwasfree", 
                     "cons_q_kg": "quantityfood_consumedkg", 
                     "cons_q_kg_pc": "quantityfood_consumedkg_pc"})

In [54]:
Food = Food.drop(["mod_opt", "item_id", "item_name", "s12q2_a", 
                  "s12q6_1", "purc_conv2kg",
                  "national_uv_2015_16", "purc_uv_med_2018_19", "cons_conv2kg", 
                  "purc_uv"], axis=1)

In [7]:
Food.describe()

,hhid,hhsize,hhmod,amountfood_purchased7d,foodspent_localcurrecny,foodconsumed7d,s12q6_a,purc_q_kg,purc_q_kg_pc,quantityfood_consumedkg,quantityfood_consumedkg_pc,fcons_value,fcons_value_capita,weight,popweight
count,18109.000000,18109.000000,18109.000000,14572.000000,15091.000000,15406.000000,9145.000000,14549.000000,14549.000000,15525.000000,15525.000000,17915.000000,17915.000000,1.810900e+04,18109.000000
mean,2879.155061,5.833950,1.996135,43.451989,396.861176,32.374791,4.193986,5.222225,1.089321,2.224405,0.519781,212.077059,50.367910,5.557168e+00,32.420242
std,1711.600623,3.131618,0.827972,405.220614,554.652415,172.280017,2.387217,9.895675,2.355756,2.629260,0.795209,266.186048,89.317995,5.746673e-13,17.402927
min,10.000000,1.000000,1.000000,0.000000,0.000000,0.002000,0.000000,0.000000,0.000000,0.001000,0.000067,0.000000,0.000000,5.557168e+00,5.557168
25%,1400.000000,4.000000,1.000000,1.000000,60.000000,1.000000,2.000000,1.000000,0.142857,0.560000,0.116667,29.585815,5.833070,5.557168e+00,22.228670
50%,2793.000000,6.000000,2.000000,3.000000,200.000000,2.000000,4.000000,2.000000,0.400000,1.250000,0.262500,128.327500,26.665460,5.557168e+00,33.343010
75%,4395.000000,8.000000,3.000000,10.000000,500.000000,5.000000,7.000000,5.000000,1.000000,3.000000,0.625000,291.653500,61.247230,5.557168e+00,44.457350
max,6004.000000,21.000000,3.000000,40000.000000,8500.000000,5000.000000,7.000000,95.000000,50.000000,21.000000,17.500000,4287.306000,2701.003000,5.557168e+00,116.700500

In [55]:
Food['Dataset1'] = "Food"

In [9]:
Food

,hhid,s1q2,hhsize,hhmod,hh_purchasedfood7d,amountfood_purchased7d,foodspent_localcurrecny,s12q5,foodconsumed7d,s12q6_a,...,wfp,purc_q_kg,purc_q_kg_pc,quantityfood_consumedkg,quantityfood_consumedkg_pc,fcons_value,fcons_value_capita,weight,popweight,Dataset1
0,10,Village 1,5,1,Yes,24.0,1700.0,Yes,2.0,NaN,...,No,24.0,4.800000,2.00,0.400000,128.327500,25.665510,5.557168,27.78584,Food
1,10,Village 1,5,1,Yes,11.0,1150.0,Yes,1.0,NaN,...,No,11.0,2.200000,1.00,0.200000,139.993700,27.998730,5.557168,27.78584,Food
2,10,Village 1,5,1,Yes,2.0,240.0,Yes,7.0,7.0,...,Yes,2.0,0.400000,1.96,0.392000,228.656300,45.731270,5.557168,27.78584,Food
3,10,Village 1,5,1,Yes,400.0,200.0,Yes,10.0,NaN,...,No,0.4,0.080000,0.01,0.002000,2.916535,0.583307,5.557168,27.78584,Food
4,10,Village 1,5,1,Yes,1.0,100.0,Yes,1.0,NaN,...,No,0.5,0.100000,0.50,0.100000,12.962380,2.592475,5.557168,27.78584,Food
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18104,6004,Village 3,12,1,Yes,1.0,50.0,No,NaN,NaN,...,NaN,1.5,0.125000,NaN,NaN,0.000000,0.000000,5.557168,66.68602,Food
18105,6004,Village 3,12,1,Yes,2.0,20.0,No,NaN,NaN,...,NaN,1.4,0.116667,NaN,NaN,0.000000,0.000000,5.557168,66.68602,Food
18106,6004,Village 3,12,1,Yes,1.0,120.0,Yes,1.0,7.0,...,Yes,1.0,0.083333,1.00,0.083333,116.661400,9.721783,5.557168,66.68602,Food
18107,6004,Village 3,12,1,Yes,1.0,10.0,Yes,1.0,NaN,...,No,2.0,0.166667,2.00,0.166667,116.661400,9.721783,5.557168,66.68602,Food
18108,6004,Village 3,12,1,Yes,24.0,1850.0,Yes,2.0,7.0,...,Yes,24.0,2.000000,2.00,0.166667,163.325900,13.610500,5.557168,66.68602,Food

In [56]:
#Household Rename 
Household= Household.rename(columns={"s6q1": "number_dwellings", "s6q2": "number_habitablerooms", 
                          "s6q3":"floor_material", "s6q4":"roof_material", "s6q5":"wall_material",
                          "s6q6":"drikingwater_source", "s6q7": "drinkingwater_insufficientquanities", 
                          "s6q8": "toilet_type", "s6q9": "share_toilet", "s6q11": "lighting_source", 
                          "s6q13": "payrent_dwelling", "s6q14": "rentpaid_shillings", "s7q1": "own_radio",
                          "s7q2": "own_television", "s7q3": "own_satelitedish", "s7q4": "own_smartphone",
                          "s7q5":"own_refrigerator", "s7q6": "own_table", "s7q7": "own_bed", "s7q8": "own_mattress", 
                          "s7q9":"own_mosquitonet", "s7q10":"own_fan", "s7q11": "own_bicycle", "s7q12":"own_motorcycle", 
                          "s7q13": "own_car", "s7q14": "own_generator", "s7q15": "own_solarpanels", "s7q16": "own_kerosenestove",
                          "s7q17": "own_charcoaljiko", "s7q18": "own_wheelbarrow", "s7q19": "own_ironfencing", 
                          "s7q20": "own_farmanimals", "s8q1": "relatives_abroad", "s8q2": "relatives_outsidekenya", 
                          "s8q3": "own_bankaccount", "s8q4": "borrowedfrom_sources12mo", "s8q4_1": "borrowedfrom_bank12mo", 
                          "s8q4_2": "borrowedfrom_community", "s8q4_3": "borrowedfrom_familyorfriends12mo", "s8q5": "remittances_abroad", 
                          "s8q6": "purchased_insurance", "s9q1":"childunder5_death5yrs", "s11q1": "sellhhgoods_lackfood", 
                          "s11q2": "healthandeduc_reduction", "s11q3": "sellassets_lackfood", "s11q4": "spendsavings:lackfood", 
                         "s11q5": "borrowmoneyfood_lackfood", "s11q6": "sellhouseland_lackfood", "s11q7": "withdrawchildrenschool_lackfood", 
                         "s11q8":"sellanimals:lackfood", "s11q9": "sellfemaleanimal_last", "s11q10": "beg_lackfood"})

In [57]:
Household= Household.drop(["s1q5", "s10q1", "s10q2", "s10q3", "s10q4", "s10q5",
                           "s10q6", "s10q7", "s10q8", "s10q9", "s11q1_a", "s11q2_a", 
                          "s11q3_a", "s11q4_a", "s11q4_a", "s11q5_a", "s11q6_a", "s11q7_a", 
                          "s11q8_a", "s11q9_a", "s11q10_a"], axis=1)

In [58]:
Household['Dataset2'] = "Household"

In [145]:
Household.describe()

,hhid,hhsize,familysize1,familysize2,familysize3,familysize4,familysize5,number_dwellings,number_habitablerooms,rentpaid_shillings,...,hh_fcon,hh_nfcon,hh_con,hh_con2011,hh_con2011_pd,pline_ipl,pgi,spg,weight,popweight
count,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.0,1100.000000,1100.000000,1100.0,...,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.000000,1.100000e+03,1100.000000
mean,2920.248182,5.758182,5.338182,0.370000,0.044545,0.005455,0.0,1.326364,1.401818,0.0,...,4478.912804,970.024715,5448.937517,96.423944,3.170102,1.900000e+00,0.163302,0.071474,5.557169e+00,31.999187
std,1720.680216,3.087100,2.880419,1.129636,0.363004,0.112735,0.0,0.562585,0.673424,0.0,...,4792.094219,1480.234054,5899.044198,104.388992,3.431967,3.798706e-14,0.211773,0.124291,1.395074e-13,17.155536
min,10.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,1.000000,0.0,...,280.630190,30.422174,409.410490,7.244894,0.238188,1.900000e+00,0.000000,0.000000,5.557168e+00,5.557168
25%,1435.750000,4.000000,3.000000,0.000000,0.000000,0.000000,0.0,1.000000,1.000000,0.0,...,1909.734900,298.351412,2341.842950,41.441056,1.362446,1.900000e+00,0.000000,0.000000,5.557168e+00,22.228674
50%,2834.500000,6.000000,5.000000,0.000000,0.000000,0.000000,0.0,1.000000,1.000000,0.0,...,2951.338750,543.258880,3603.583500,63.768713,2.096506,1.900000e+00,0.012946,0.000168,5.557168e+00,33.343010
75%,4429.500000,8.000000,7.000000,0.000000,0.000000,0.000000,0.0,2.000000,2.000000,0.0,...,5106.038775,1071.312800,6241.563100,110.450180,3.631239,1.900000e+00,0.312990,0.097963,5.557168e+00,44.457348
max,6004.000000,21.000000,17.000000,12.000000,5.000000,3.000000,0.0,4.000000,6.000000,0.0,...,62754.434000,26267.102000,89021.539000,1575.317600,51.791267,1.900000e+00,0.874638,0.764991,5.557168e+00,116.700540

In [59]:
#Energy Rename
Energy = Energy.rename(columns={"s1q2":"hhlocation", "s12q12a":"q_purchased_firewoodused", 
                       "s12q12b": "totalcost_purchasedfirewood",
                     "s12q13a": "q_collected_firewoodused","s12q13b": "totalcost_collectedfirewood",
                      "s12q14a": "q_farmresidue_used", "s12q14b": 'totalcost_farmresidue',
                      's12q15a':'q_wood/processwaste_used', 's12q15b': 'totalcost_wood/processwaste',
                      's12q16a': 'q_charcoal_used', 's12q16b': 'totalcost_charcoal',
                      's12q17a': 'q_kerosene/paraffin_used', 's12q17b': 'totalcost_kerosene/paraffin',
                      's12q18a': 'q_lpg_used', 's12q18b': 'totalcost_lpg', 
                      's12q19a': 'q_electricity_used', 's12q19b': 'totalcost_electricity',
                      's12q20a': 'q_petrol_used', 's12q20b': 'totalcost_petrol',
                       's12q21a': 'q_diesel_used', 's12q21b': 'totalcost_diesel'})

In [60]:
Energy = Energy.drop(['s12q12', 's12q12a_1', 's12q13', 's12q13a_1', 's12q14', 's12q14a_1',
            's12q15', 's12q15a_1', 's12q16', 's12q16a_1', 's12q17', 's12q18'], axis = 1)

In [61]:
Energy['Dataset3'] = "Energy"

In [62]:
#Education Rename
Education = Education.rename(columns={'s4q10': 'spend_tuitionfees', 's4q11': 'spend_textbooks', 
                         's4q12': 'spend_exercisebooks', 's4q13': 'spend_schooluniform',
                         's4q14': 'spend_schoolboardingfees', 's4q15': 'spend_schooltransport',
                         's4q16': 'spend_extratuition', 's4q17': 'spend_PTA', 
                         's4q18': 'spend_pocketmoney', 's4q19': 'spend_cautionmoney',
                         's4q20': 'spend_educmedicalfee', 's4q21': 'spend_activityfees',
                         's4q22': 'spend_examfees', 's4q23': 'spend_educfeedingprogram',
                         's4q24': 'spend_othereduccharges'})

In [63]:
Education['Dataset4'] = "Education"

In [64]:
Educ_Energy_merge = pd.merge(Education,Energy,how='inner',on='hhid')

In [65]:
Educ_Energy_Food_merge =  pd.merge(Educ_Energy_merge,Food,how='inner',on='hhid')

In [66]:
Merge_Renamed = pd.merge(Educ_Energy_Food_merge,Household,how='inner',on='hhid')

In [ ]:
Merge_Renamed.to_excel('MergedDatasetsRenamed.xlsx',sheet_name='Sheet1')